<header class="header">
         <div class="header__left">
                  <nav class="nav">
                           <ul class="nav__list">
                                    <li class="nav__item">
                                             <a class="nav__link" href="index.html">Main</a>
                                    </li>
                                    <li class="nav__item">
                                             <a class="nav__link has-subnav" href="#">Articles</a>

                                             <ul class="subnav">
                                                      <li>
                                                               <a class="subnav__link" href="post.html">Article one about LESS</a>
                                                      </li>
                                                      <li>
                                                               <a class="subnav__link" href="post.html">Article two about SAS</a>
                                                      </li>
                                                      <li>
                                                               <a class="subnav__link" href="post.html">Article about JS</a>
                                                      </li>
                                             </ul>
                                    </li>
                                    <li class="nav__item">
                                             <a class="nav__link" href="text.html">About me</a>
                                    </li>
                                    <li class="nav__item">
                                             <a class="nav__link" href="text.html">Advertisement</a>
                                    </li>
                           </ul>
                  </nav>

                  <button class="burger" type="button" id="sidebarToggle">
                           <span>Open navigation</span>
                  </button>
         </div>
         <div class="header__right">

                  <nav class="nav">
                           <ul class="nav__list">
                                    <li class="nav__item">
                                             <a class="nav__link" href="profile.html">Profile</a>
                                    </li>
                                    <li class="nav__item">
                                             <a class="nav__link" href="#">Logout</a>
                                    </li>
                           </ul>
                  </nav>

                  <form class="search" action="search.html" method="post">
                           <input class="search__input" type="text" placeholder="Blog search">
                  </form>

         </div>
</header>
