.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;

  box-shadow: 0 15px 25px rgba($color: $black, $alpha: 0.45);
  background-color: $secondary;
  border-radius: 5px;
}

.add-post__form {
  display: flex;
  align-items: center;
}

.add-post__textarea {
  display: block;
  flex-grow: 1;
  width: 82%;
  height: 26px;
  overflow: hidden;

  border: none;
  background: transparent;
  resize: none;

  font-family: inherit;
  font-size: 1.5rem;
  color: $white;

  &::placeholder {
    color: #d2d2d2;
  }
}

.add-post__form-actions {
  display: flex;
  flex-shrink: 0;
  width: 120px;
  justify-content: flex-end;
}

.add-post__file,
.add-post__send {
  display: block;

  border: 0;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  cursor: pointer;

  transition: background 0.2s linear;
}

.add-post__file {
  background: #ebebeb url("../images/add-photo.svg") center no-repeat;

  input {
    display: none;
  }

  &:hover {
    background-color: darken(#ebebeb, 20%);
  }
}

.add-post__send {
  background-color: $blue;
  margin-left: 10px;

  &:hover {
    background-color: darken($blue, 20%);
  }
}
